<%-include("../public/partials/header.ejs")%>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal header">
            <div class="content">
            Log-in to your account
            </div>
        </h2>
      <form class="ui large form">
            <progress id="progress" max="100" value="0"></progress>
            <div class="ui segment" id="emailDiv">
                <div class="ui field left icon input">
                    <i class="user icon"></i>
                    <input type="email" id="email" required placeholder="Email">
                </div>
                <div>
                    <button class="ui field teal button" type="button" id="buttonNext">Next</button>
                </div>
            </div>
            
            <div class="ui segment noDisplay" id="passwordDiv">
                <div  class="ui field left icon input">
                    <i class="lock icon"></i>
                    <input type="password" id="password" required placeholder="Password"> 
                </div>
                <div>
                    <button class="ui teal button" type="button" id="buttonPrevious">Previous</button>
                    <button class="ui teal button" type="button" id="buttonNext2">Next</button>
                </div>
            </div>
            
            <div class="ui segment noDisplay" id="submitDiv">
                <div  class="ui field input">                   
                    <button class="ui teal button" type="button" id="buttonPrevious2">Previous</button>
                    <button class="ui teal button">Submit</button>
                </div>
            </div>
      </form>
    </div>
  </div>
  <%-include("../public/partials/footer.ejs")%>